<footer class="footer">
    <div class="footer-links">
        <div class="about">
            <h3 class="list-title">About</h3>
            <ul class="list">
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">Vidoes</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Our Investors</a></li>
                <li><a href="#">Our Contributors</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3 class="list-title">Contact</h3>
            <ul class="list">
                <li><a href="#">Email</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="community">
            <h3 class="list-title">Community</h3>
            <ul class="list">
                <li><a href="#">Join NewsLetter</a></li>
                <li><a href="#">YouTube Family</a></li>
                <li><a href="#">Facebook Family</a></li>
                <li><a href="#">Instagram Family</a></li>
            </ul>
        </div>
    </div>
    <div class="trademark">
        <img src="/images/logo-solidBg.svg" alt="logo">
        <small>&copy; Chef'sBook 2021</small>
    </div>
</footer>