section.suggestions .heading, section.all-recipes .heading {
    width: 90%;
    margin: 0 auto;
    padding: 20px 30px;
}
.cards {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #fff;
    width: 400px;
    margin: 20px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  18px 18px 42px #b3b3b3,
                -18px -18px 42px #ffffff;
}
.card-img img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.card-content {
    padding: 10px 20px
}
.card-head h3, .text p, .card-content .card-button {
    margin-bottom: 10px;
}
.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}
.card-head h3 {
    text-transform: capitalize;
}
.card-content .card-button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}